{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "web/style.css" %}" />
{% if settings.DEBUG %}
    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
{% else %}
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
{% endif %}

<div class="main">
    <!-- Header -->
    <div class="top_bar">

        <!-- Top bar -->
        <a href="http://www.harvard.edu">Harvard.edu</a>
    </div>
    <div class="main_header">
        <div class="user">
            {% if request.user.is_authenticated %}
            <div>
                {% if request.user.first_name %}
                    Welcome {{ request.user.first_name }} {{ request.user.last_name }}
                {% else %}
                    Welcome {{ request.user.username }}
                {% endif %}
            </div>
            <a href ='{% url 'logout' %}'>(Logout)</a>
            {% endif %}
        </div>
        <!-- Main Header -->
        <div>
            <img alt="Harvard University Information Technology" src="http://static.hwpi.harvard.edu/files/styles/os_files_medium/public/huit/files/logo.png?itok=F_YObg-K" />
            <div></div>
        </div>
        <div>
            <span class="welcome">Welcome to DVSP</span>
            Provision Mediasite for your classroom
        </div>
    </div>
    {% block subheader %}
    <div class="search_bar">
        {% if form.accounts %}
            <!-- Search bar -->
            <form action="{% url 'web:index' %}" method="post" >{%  csrf_token %}
                <div>{{ form.accounts }}</div>
                <div>{{ form.search }}</div>
                <input type="submit" value="Search">
            </form>
        {%  endif %}
    </div>
    {% endblock %}
    <div>
        {% block content %}{% endblock %}
    </div>
</div>
