{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "web/style.css" %}" />
{% if settings.DEBUG %}
    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
{% else %}
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
{% endif %}

<div>
    <!-- Header -->
    <div class="top_bar">
        {% if request.user.is_authenticated %}
            <div class="user">
                {% if request.user.first_name %}
                    Welcome {{ request.user.first_name }} {{ request.user.last_name }}
                {% else %}
                    Welcome {{ request.user.username }}
                {% endif %}
                <a href ='{% url 'logout' %}'>Logout</a>
            </div>
        {% endif %}
        <!-- Top bar -->
        <a href="http://www.harvard.edu">Harvard.edu</a>
    </div>
    <div class="main_header">
        <!-- Main Header -->
        <div>
            <div class="logo"></div>
            <div></div>
        </div>
        <div>
            <h1>Welcome to DVSP</h1>
            <p>Provision Mediasite for your classroom</p>
        </div>
    </div>
    {% block subheader %}
    <div class="search_bar">
        {% if form.accounts %}
            <!-- Search bar -->
            <form action="{% url 'web:index' %}" method="post" >{%  csrf_token %}
                <div>{{ form.accounts }}</div>
                <div>{{ form.search }}</div>
                <input type="submit" value="Search">
            </form>
        {%  endif %}
    </div>
    {% endblock %}
</div>
<div>
    {% block content %}{% endblock %}
</div>