{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "web/style.css" %}" />
{% if settings.DEBUG %}
    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
{% else %}
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
{% endif %}

<div>
    <!-- Header -->
    <div class="top_bar">
        {% if request.user.is_authenticated %}
            <div class="user">
                {% if request.user.first_name %}
                    Welcome {{ request.user.first_name }} {{ request.user.last_name }}
                {% else %}
                    Welcome {{ request.user.username }}
                {% endif %}
                <a href ='{% url 'logout' %}'>Logout</a>
            </div>
        {% endif %}
        <!-- Top bar -->
        <a href="http://www.harvard.edu">Harvard.edu</a>
    </div>
    <div class="main_header">
        <!-- Main Header -->
        <div>
            <div class="logo"></div>
            <div></div>
        </div>
        <div>
            <h1>Welcome to DVSP</h1>
            <p>Provision Mediasite for your classroom</p>
        </div>
    </div>
    <div class="search_bar">
        <!-- Search bar -->
        <form action="{% url 'web:index' %}" method="post" >{%  csrf_token %}
            <div>{{ form.accounts }}</div>
            <div>{{ form.search }}</div>
            <input type="submit" value="Search">
        </form>

    </div>
</div>
<div>
    <!-- Main -->
    <div class="left_nav">
        <!-- Left nav/facets -->
        {% if results.terms %}
            <div>
                Terms
                {%  for term in results.terms %}
                    <div>
                        {{ term.name }}
                    </div>
                {% endfor %}
                <br/>
            </div>
        {%  endif %}

        {% if results.years %}
            <div>
                Years
                {% for year in results.years %}
                    <div>
                        {{ year }}
                    </div>
                {% endfor %}
                <br/>
            </div>
        {% endif %}
    </div>

        <div class="results">
        <!-- Results -->
        {% if results %}
            {% if results.count == 0 %}
                There are no courses that match your search terms
            {% else %}
                {% for course in results.search_results %}
                    <div>
                        <div>
                            {{ course.name }} ( {{ course.course_code }} )
                        </div>
                        <div>
                            {{ course.start_at }} - {{ course.end_at }}
                        </div>
                        <div>
                            {% if course.teaching_users %}
                                {% for user in course.teaching_users  %}
                                    <div>
                                        {{ user.name }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    <div>
                        {% if course.canvas_mediasite_module_item %}
                            <a href="{{ course.canvas_mediasite_module_item.external_url }}">Mediasite Catalog</a>
                        {% else %}
                            Mediasite is not provisioned.
                            {%  if course.term %}
                                Provision Mediasite?
                                <button onclick="ProvisionMediasite('{{ results.school.mediasite_root_folder }}',
                                        '{{ course.term.name }}',
                                        '{{ course.id }}',
                                        '{{ course.year }}',
                                        '{{ results.school.canvas_id }}')">Provision</button>
                            {% else %}
                                Mediasite cannot be provisioned because the course does not have a term.
                            {% endif %}
                        {% endif %}
                    </div>
                    </div>
                    <br />
                {% endfor %}
            {% endif %}
        {% else %}
            Please select a school and enter a course name or number in the search box to find courses to provision to Mediasite
        {% endif %}

    </div>

<script type="application/javascript">
    function ProvisionMediasite(mediasiteRootFolder, courseTerm, courseId, year, account_id){
        $.ajax({
            type: 'POST',
            url: '{% url 'web:provision' %}',
            datatype: 'json',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                root_folder: mediasiteRootFolder,
                term: courseTerm,
                course_id: courseId,
                year: year,
                account_id: account_id
            },
            success: function(json) {
                alert("success");
            }
        })
    };
</script>

</div>

